@media (max-width: 1139px){

    .container{
        width: 970px;
    }
}

@media (max-width: 968px){
    .container  {
        width: 800px;
    }

}
@media (max-width: 759px){
    .container{
        width: 680px;
    }
    .sec2-box{
        flex-direction: column;
        align-items: center;
    }
    .sec3-mid,.sec3-bottom{
    flex-wrap: wrap;
       row-gap: 20px;

    }
    .sec3-top-left,.sec3-top-right{
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }

}

@media (max-width: 679px) {
    .container{
        width: 500px;
    }
    .sec3-top{
        flex-direction: column;
        row-gap: 30px;
    }
    .sec3-top-left{
        flex-direction: row;
    }
    .sec3-top-right{
        flex-direction: row;
    }

}

