@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merienda', cursive ,sans-serif;
}
body{
    position: relative;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.sec1{
    width: 100%;
    background: url(./img/desk-791178_1920.png) center/cover no-repeat;
    color: #FFFFFF;
}
.header{
    position: absolute;
    padding: 30px 0;
    z-index: 2;
    color: #FFFFFF;
}
.header-wrap{
    display: flex;
    align-items: flex-end;
    column-gap: 50px;
}
.header-wrap li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.sec1{
    padding-top: 110px;
    line-height: 45px;
    text-align: center;
}
h1{
    margin-top: 100px;
    font-weight: 700;
    font-size: 40px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-img{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
    margin: 30px 0 40px;
}
.header-img::after,
.header-img::before{
    content: '';    
    width: 60px;
    height: 0px;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.header-btn{
    background: none;
    font-weight: 700;
    font-size: 14px;    
    width: 120px;
    height: 30px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    margin-top: 18px;
    margin-bottom: 200px;
}
.sec2{
    text-align: center;
}
h3{
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    margin-top: 80px;
}
.sec2-img::before,
.sec2-img::after{
    content: '';
    border: 1px solid #000000;
}
.sec2 p{
    font-size: 14px;
    font-weight: 400;
}
.sec3{
    background: url(./img/paper-1074131_1920.png);
    width: 100%;
}
.sec3 h3{
    padding-top: 80px;
    text-align: center;
}
.card{
    display: flex;
    justify-content: center;
    column-gap: 70px;
    padding: 40px 0 110px;
}
.cards{
    width: 220px;
    height: 240px;
    background: rgba(255, 255, 255, 0.65);
    border-radius: 8px;
    text-align: end;
}
.cards img{
    padding: 22px 36px 10px;
}
.card3 img{
    padding: 37px 26px 10px;
}
.cards p{
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}
.cards span{
    padding: 10px 22px 22px;
}
.footer-wrap{
    margin: 30px 374px;
}

